body {
  background-color: #ff876a;
  display: flex;
  justify-content: center;
  
}
.container {
  width: 75%;
}
.headers {
  margin: auto;
  width: 50%;
  padding: 10px;
  border-bottom: black solid 3px;
}
.row {
  align-items: center;
}
#burgerPic {
  height: 50px;
  width: 50px;
  margin: auto;
  /* width: 50%; */
  padding: 10px;
}
li {
  padding: 5px;
  margin: 5px;
  align-items: center;
  /* background: #ffc0b0; */
  width: 50%;
  font-size: 2rem;
  list-style: none;
}
ul {
  padding: 0;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(255, 201, 139);
}

.form-group {
  margin-bottom: 5px;
}
